#include "windows.h"
#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX -2,-13,288,210
CAPTION "Tab control sample"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "Tab content",IDC_TAB_CONTENT_GROUP,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,3,180,27
  CONTROL "Create",IDC_CREATE_RADIOBUTTON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,9,15,33,9
  CONTROL "On dialog",IDC_ON_DIALOG_RADIOBUTTON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_CLIPCHILDREN|WS_TABSTOP|BS_AUTORADIOBUTTON,45,15,42,9
  CONTROL "Dialog",IDC_DIALOG_RADIOBUTTON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,90,15,36,9
  CONTROL "Create dialog",IDC_CREATE_DIALOG_RADIOBUTTON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_CLIPCHILDREN|WS_TABSTOP|BS_AUTORADIOBUTTON,126,15,54,9
  CONTROL "Mode",IDC_MODE_GROUP,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,33,165,27
  CONTROL "Clipping",IDC_CLIPPING_RADIOBUTTON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,9,45,39,9
  CONTROL "Hook",IDC_HOOK_RADIOBUTTON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,51,45,30,9
  CONTROL "Tab handle",IDC_TAB_HANDLE_RADIOBUTTON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,84,45,48,9
  CONTROL "None",IDC_NONE_RADIOBUTTON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,135,45,30,9
  CONTROL "",IDC_TREEVIEW,"SysTreeView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TVS_SHOWSELALWAYS,3,63,75,144,WS_EX_CLIENTEDGE
  CONTROL "",IDC_TAB_CONTROL,"SysTabControl32",WS_CHILDWINDOW|WS_VISIBLE|WS_CLIPSIBLINGS|WS_TABSTOP,81,63,204,144
END

IDD_TAB_DIALOG DIALOGEX 10,10,150,100
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW|DS_CONTROL|DS_SETFONT|DS_3DLOOK
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "",IDC_TAB_TREEVIEW,"SysTreeView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TVS_SHOWSELALWAYS,3,3,141,96,WS_EX_CLIENTEDGE
END

